<!DOCTYPE html>
<html>
<head>
    {block name="style"}
    {include file="public:head"}
    {block name="title"}<title>测试</title>{/block}
    {block name="head"}{/block}
    {/block}
</head>
<body class="">
<div class="">

    {include file="public:header" /}
    {block name="full"}
    <div class="">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            {block name="body"}
            {include file="public:body"}
            {/block}
        </div>
    </div>
    {/block}

</div>
{block name="foot"}
{include file="public:foot" /}
{include file="public:footer"/}
{block name="footer"}{/block}
{/block}
{block name="script"}{/block}
</body>
</html>