<div class="layui-header">
    <div class="layui-logo" ><a href="{:url('Index/index')}" style="color: #009688">layui 后台</a></div>
    <!-- 头部区域（可配合layui已有的水平导航） -->
    <ul class="layui-nav layui-layout-left">
        {volist name="nav" id="vo"}
        <li class="layui-nav-item"><a href="{:url($vo.line)}">{$vo.name}</a></li>
        {/volist}
    </ul>
    <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item"><a href="{:url('/index')}">前台首页</a></li>
        <li class="layui-nav-item">
            <a href="javascript:;">
                <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                {$username}
            </a>
            <dl class="layui-nav-child">
                <dd><a href="">基本资料</a></dd>
                <dd><a href="">安全设置</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="{:url('Login/loginOut')}">退了</a></li>
    </ul>
</div>