{extend name="base:common"/}
{block name="head"}
{/block}
{block name="body"}
<div class="content">
  <div class="cont w1000">
    <div class="list-item">
      {volist name="content" id="vo" key="key"}
      <div class="item">
        <div class="layui-fluid">
          <div class="layui-row">
            <div class="layui-col-xs12 layui-col-sm4 layui-col-md5">
              <div class="img">
                <a href="{:url('content',['id'=>$vo.id])}"><img src="{$vo.image}" alt="{$vo.title}"></a>
              </div>
            </div>
            <div class="layui-col-xs12 layui-col-sm8 layui-col-md7">
              <div class="item-cont">
                <h3>{$vo.title}<button class="layui-btn layui-btn-danger new-icon">new</button></h3>
                <h5>{$vo.getArticleClass.classname}</h5>
                <p>{$vo.content|mb_substr=0,30,'utf-8'}</p>
                <a href="{:url('content',['id'=>$vo.id])}" class="go-icon"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {/volist}
    </div>
    <!--<div id="demo" style="text-align: center;"></div>-->
      <div  id="demo"  style="text-align: center;">
          {$content|raw}
      </div>
  </div>
</div>
{/block}
{block name="script"}
<script type="text/javascript">
  // layui.config({
  //   base: '/static/res/js/util/'
  // }).use(['element','laypage','jquery','menu'],function(){
  //   element = layui.element,laypage = layui.laypage,$ = layui.$,menu = layui.menu;
  //   laypage.render({
  //     elem: 'demo'
  //     ,count: 20 //数据总数，从服务端得到
  //   });
  //   menu.init();
  // })
</script>
{/block}
